name: CI - Asmar Sadikhova

on:
  push:
    branches:
      - develop
      - feature/*
  pull_request:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: '21'

      - name: Cache Gradle dependencies
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Build with Gradle
        run: ./gradlew build

      - name: Run tests with Jacoco
        run: ./gradlew test jacocoTestReport

      - name: Upload code coverage report to SonarCloud
        uses: sonarsource/sonarcloud-github-action@v1.6
        with:
          projectKey: your_project_key
          organization: your_organization_key
          token: ${{ secrets.SONAR_TOKEN }}

      - name: Upload Jacoco code coverage to SonarCloud
        run: ./gradlew sonarqube \
          -Dsonar.projectKey=lab-3-AsmarSad \
          -Dsonar.organization=bhos-qa \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}
